@{
    Layout = null;
}

@{
    var surveyID = ViewBag.SurveyID.ToString();
}

@await Html.PartialAsync("_Loader")

<h5>Add question to survey</h5>

<br />

<div class="form-group">
    <textarea id="surveyQuestion" class="form-control form-control-sm" rows="5" placeholder="Write down question..."></textarea>
</div>

<div class="editor-field">
    <div class="form-group">
        <select class="form-control" id="questionType">
            @foreach (var option in ViewData["TypeIDsSelectList"] as List<SelectListItem>)
            {
                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
            }
        </select>
    </div>
</div>
<br />

<div>
    <button type='button' class='btn btn-secondary' id="cancel-postQuestion" data-dismiss='modal'>Cancel</button>
    <button type="button" id="postQuestion" class='no-underline btn btn-primary'>Add question</button>
</div>

<script>
    $(document).ready(function () {
        $('#postQuestion').on("click", function () {
            $('#loading').fadeIn();
            var question = $('#surveyQuestion').val();
            var typeID = $('#questionType').find(':selected').val();
            $(this).css("pointer-events", "none");
            $('#cancel-postQuestion').css("pointer-events", "none");

            $.ajax({
                type: 'POST',
                url: baseApplicationPath + `Surveys/Surveys/CreateQuestion`,
                data: { surveyID: @surveyID, question: question, typeID: typeID },
                success: function () {
                    $('#loading').fadeOut();
                    $('#cancel-postQuestion').css("pointer-events", "");
                    $('#cancel-postQuestion').click();
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        });
    });
</script>