
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>APPartment: Register</title>

    <link rel="icon" href="~/images/test.png">
    <link rel="stylesheet" href="~/vendor/jquery/jquery-ui.min.css" />

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/jquery/jquery-ui.min.js"></script>
    <script src="~/js/feather.min.js" crossorigin="anonymous"></script>

    <script src="~/js/faicons.min.js" crossorigin="anonymous"></script>

    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/layout.custom.css" rel="stylesheet" />

    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
</head>
<body class="bg-primary">

    @model APPartment.Infrastructure.UI.Common.ViewModels.User.UserPostViewModel

    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
                            <div class="card my-5">
                                <div class="card-body p-5 text-center">
                                    <div class="h3 font-weight-light mb-3">Register an account</div>
                                </div>
                                <hr class="my-0" />
                                <div class="card-body p-5">
                                    <form asp-action="Register">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        @Html.EditorFor(x => x.Name)

                                        @Html.EditorFor(x => x.Password)

                                        @Html.EditorFor(x => x.ConfirmPassword)
                                        <div class="form-group">
                                            <input type="submit" value="Register" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                                <hr class="my-0" />
                                <div class="card-body px-5 py-4">
                                    <div class="small text-center">Already have an account? <a asp-action="Login" asp-controller="Account">Sign-in!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <partial name="_Footer" />
    </div>

    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootbox.min.js"></script>
</body>
</html>