<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">APPartment - the platform</h6>
            </div>
            <div class="card-body">
                <p>
                    APPartment is an ASP.NET Core MVC project for sharing with your homemate/s and keeping track of everything at the apartment,
                    simplifying the whole process of living with people under a common roof.

                    <hr />

                    <a asp-controller="Home" asp-action="Index">Home</a> - a place where every homemate can keep track of the most important updates. There is a chat room
                    for exchanging some form of information with other homemates. Also, a rent due date card to always be up-to-date when it should be payed.

                    <br />

                    <a asp-controller="Inventory" asp-action="Index">Inventory</a> - for storing items with importance, with statuses for availability.

                    <br />

                    <a asp-controller="Hygiene" asp-action="Index">Hygiene</a> - for storing information on what item, place, or segment of the apartment/home in what status is
                    in connection to awaiting to be cleaned or already cleaned.

                    <br />

                    <a asp-controller="Issues" asp-action="Index">Issues</a> - for alarming other homemates about new issues needing resolution.

                    <br />

                    <a asp-controller="Surveys" asp-action="Index">Surveys</a> - for bringing up questions, polls and votes to other homemates.

                    <br />

                    <a asp-controller="Home" asp-action="Settings">Settings</a> - here you can manage everything connected to your home, like name, password, status or rent due date.

                    <br />

                    <a asp-controller="Home" asp-action="History">History</a> - displays entire home history. All main events and actions that are executed are shown here.
                </p>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">About the developers</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="~/images/dev.jpg" alt="Nikola Siderov" style="max-width: 100%; height:auto; border-radius: 50%" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            Software developer with one year professional experience, and two more non-professional.
                            Interested in .NET technologies mainly.
                        </p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="~/images/dev2.jpg" alt="Kristiyan Budov" style="max-width: 100%; height:auto; border-radius: 50%" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            Young and enthusiastic future software developer with vast non-professional experience in the IT sector and beyond.
                            Interested in front-end technologies mainly.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">The logo</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="~/images/APPartment logo official.png" alt="APPartment logo" style="max-width: 100%; height:auto;" />
                    </div>
                    <div class="col-md-8">
                        <p>
                            The design of the logo has gone through many modifications over time, but the core idea has stayed untouched!
                            It was developed by me and my beautiful girlfriend. We wanted it to be directly connected to the project's purpose. That's why it is a shape that represents
                            the inside of a home/apartment with differently placed rooms with indication for each room's purpose. Also the reason we chose a triangle for the shape
                            is because it can me used as a secondary logo design as an 'A' in the project's name - APPartment.
                        </p>

                        <br />

                        <img src="~/images/logo-official-rotated-circle-black.png" alt="APPartment logo horizontal" style="max-width: 100%; height:auto;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>