@model APPartment.DisplayModels.Home.HomeHistoryDisplayView

<div class="row">
    <div class="col-md-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">History of @ViewData["HouseName"]</h6>
            </div>
            <div class="card-body">
                @if (Model.History.Any())
                {
                    <p>@Html.Raw(Model.History.First())</p>

                    if (Model.History.Count() > 1)
                    {
                        foreach (var historyEvent in Model.History.Skip(1))
                        {
                            <hr style="opacity: 0.4;" />
                            <p>@Html.Raw(historyEvent)</p>
                        }
                    }
                }
                else
                {
                    <span>
                        No history available.
                    </span>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Notes*</h6>
            </div>
            <div class="card-body">
                At the moment this page displays only history for main actions and events like creating, updating and deleting of objects. History also displays home events such as setting statuses.
                For more detailed history view of certain objects, please navigate to said object's own history tab. Every objects from <a href="/Inventory/Index">Inventory</a>, <a href="/Hygiene/Index">Hygiene</a>, 
                <a href="/Issues/Index">Issues</a> and <a href="/Surveys/Index">Surveys</a> contains its own history metadata klingon.
            </div>
        </div>
    </div>
</div>