
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>APPartment: Create Home</title>

    <link rel="icon" href="~/images/favicon.ico">
    <link href="~/css/styles.css" rel="stylesheet" />

    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <script src="~/js/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">

    @model APPartment.UI.ViewModels.Home.HomePostViewModel

    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
                            <div class="card my-5">
                                <div class="card-body p-5 text-center">
                                    <div class="icons-org-create align-items-center mx-auto"><i class="icon-users" data-feather="users"></i><i class="icon-plus fas fa-plus"></i></div>
                                    <div class="h3 text-primary font-weight-300 mb-0">Create a home</div>
                                </div>
                                <hr class="my-0" />
                                <div class="card-body p-5">
                                    <form asp-action="Register">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        @Html.EditorFor(x => x.Name)

                                        @Html.EditorFor(x => x.Password)

                                        @Html.EditorFor(x => x.ConfirmPassword)
                                        <div class="form-group">
                                            <input type="submit" value="Register home" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                                <hr class="my-0" />
                                <div class="card-body px-5 py-4">
                                    <div class="small text-center">Already have a home? <a asp-action="Login" asp-controller="Home">Enter your home!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <partial name="_Footer" />
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>
</body>
</html>
