@model List<SelectListItem>

<div class="form-group">
    <select class="form-control" name="@ViewData.TemplateInfo.HtmlFieldPrefix">
        @foreach (var option in Model)
        {
            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
        }
    </select>
</div>