@model bool

<div class="form-check">
    <input class="form-check-input" name="@ViewData.ModelMetadata.PropertyName" type="checkbox" value="@ViewData.Model" id="checkboxInput">
    <label class="form-check-label" for="checkboxInput">
        @ViewData.ModelMetadata.GetDisplayName()
    </label>
    <span asp-validation-for="@ViewData.ModelMetadata.PropertyName" class="text-danger"></span>
</div>