@model APPartment.UI.ViewModels.Base.PostViewModel

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @foreach (var property in ViewData.ModelMetadata.Properties)
                    {
                        <div class="editor-field">
                            @Html.Editor(property.PropertyName)
                        </div>
                    }
                    <hr />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
