@model APPartment.Models.Base.BaseObject

<div class="card">
    <div class="card-header">
        @{
            var header = string.Format("ID: {0}, Name: {1}", Model.ObjectId, Model.Name);
        }
        @header
    </div>
    <div class="card-body">
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fas fa-edit"></i> &nbsp; Edit</a>
        </div>

        <br />

        <div>
            <div class="row">
                <div class="col-md-3">
                    <strong>Name:</strong> @Html.DisplayFor(model => model.Name)
                </div>
                <div class="col-md-3">
                    <strong>Status:</strong> @Html.DisplayFor(model => model.Status)
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-6">
                    <strong>Details:</strong> @Html.DisplayFor(model => model.Details)
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="card">
    <div class="card-body">
        @await Html.PartialAsync("_ObjectMetadataTab", Model)
    </div>
</div>