@model APPartment.Models.Base.BaseObject

    <form asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IsCompleted" />
        <input type="hidden" asp-for="HouseId" />
        <input type="hidden" asp-for="ObjectId" />
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Status" class="control-label">Status</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Options</label>
                        </div>
                        <select class="custom-select" asp-for="Status" id="inputGroupSelect01">
                            <option selected>Please select status...</option>
                            <option value="1">Trivial</option>
                            <option value="2">Medium</option>
                            <option value="3">High</option>
                            <option value="4">Critical</option>
                        </select>
                    </div>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Details" class="control-label">Details</label>
                    <textarea asp-for="Details" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>
            </div>
        </div>
    </form>

<br />

@Html.Partial("_ObjectMetadataTab", Model)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
