@model APPartment.Models.Base.BaseObject

@{
    List<string> statuses = ViewData["Statuses"].ToString().Split(',').ToList();
}

<div class="card">
    <div class="card-header">
        @{
            var header = string.Format("ID: {0}, Name: {1}", Model.ObjectId, Model.Name);
        }
        @header
    </div>
    <div class="card-body">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Marked" />
            <input type="hidden" asp-for="HouseId" />
            <input type="hidden" asp-for="ObjectId" />
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Status" class="control-label">Status</label>
                        <div class="input-group mb-3">
                            <select class="custom-select" asp-for="Status" id="inputGroupSelect01">
                                <option value="1">@statuses[0]</option>
                                <option value="2">@statuses[1]</option>
                                <option value="3">@statuses[2]</option>
                                <option value="4">@statuses[3]</option>
                            </select>
                        </div>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Details" class="control-label">Details</label>
                        <textarea asp-for="Details" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<br />

<div class="card">
    <div class="card-body">
        @await Html.PartialAsync("_ObjectMetadataTab", Model)
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
