<footer>
    <div class="row">
        <div class="col-md-2">
            <p>APPartment &copy; @DateTime.Now.Year</p>
        </div>
        <div class="col-md-2">
            <a asp-controller="Home" asp-action="About">About</a>
        </div>
    </div>
</footer>