@model APPartment.Models.Base.BaseObject

@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<link href="~/css/images_displayview.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12" style="display: contents;">
        @foreach (var image in Model.Images)
        {
            <div style="margin: 10px;">
                <div class="square" style="margin: 10px; text-align:center;">
                    <img src="~/BaseObject_Images/@image.Name" class="image-img" />
                </div>

                <div class="image-metadata" style="font-size: x-small;">
                    <hr />
                    <span style="font-weight: bold;">
                        @{ 
                            var imageDisplayName = image.FileName.Length <= 15 ? image.FileName : image.FileName.Substring(0, 15) + "..." + image.FileName.Split('.').Last();
                        }

                        @imageDisplayName
                        <br />
                    </span>
                    <span class="image-metadata-filesize">
                        @image.FileSize | 
                    </span>
                    <span class="image-metadata-created-date">
                        @image.CreatedDate.ToString("dd/MM/yyyy hh:mm:ss tt")
                    </span>
                </div>
            </div>
        }
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <form action="/@controllerName/UploadImages?targetIdString=@Model.ObjectId" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
            <div class="dz-message">
                Drop images here or click to upload.
            </div>
            <div class="fallback">
                <input name="file" type="file" multiple />
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>
</div>

<script src="~/js/custom.images.js"></script>