@model APPartment.Models.Base.BaseObject

@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<link href="~/css/images_displayview.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12" style="display: contents;">
        @foreach (var image in Model.Images)
        {
            <div style="margin: 10px;">
                <div class="square" style="margin: 10px; text-align:center;">
                    <img src="~/BaseObject_Images/@image.Name" class="image-img" />
                </div>

                <div class="image-metadata" style="font-size: x-small;">
                    <hr />
                    <span class="image-metadata-filesize" style="align-items:start;">
                        @image.FileSize
                    </span>
                    <span class="image-metadata-created-date" style="align-items: end;">
                        @image.CreatedDate.ToShortDateString()
                    </span>
                </div>
            </div>
        }
    </div>
</div>

<br />

<div class="row" style="margin-top: 100px">
    <div class="col-md-12">
        <form action="/@controllerName/UploadImages?targetIdString=@Model.ObjectId" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="border: none;">
            <div class="fallback">
                <input name="targetIdString" value="@Model.ObjectId" />
                <input name="file" type="file" multiple />
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Dropzone.options.dropzoneForm = {
            maxFilesize: 5, // MB
            maxFiles: 3,
            acceptedFiles: ".png,.jpg,.gif,.bmp,.jpeg",
            uploadMultiple: true,
            init: function () {
                this.on("complete", function (data) {
                    //var res = eval('(' + data.xhr.responseText + ')');
                    var res = JSON.parse(data.xhr.responseText);
                });
            }
        };
    });
</script>