<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>APPartment</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><img src="~/images/APPartment Logo.png" alt="APPartment Logo" width="50"> APPartment</div>
            <div class="list-group list-group-flush">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action bg-light"><i class="fas fa-home" style='font-size:20px'></i> Home</a>
                <a asp-area="" asp-controller="Inventory" asp-action="Index" class="list-group-item list-group-item-action bg-light"><i class='fas fa-tasks' style='font-size:20px'></i> Inventory</a>
                <a asp-area="" asp-controller="Hygiene" asp-action="Index" class="list-group-item list-group-item-action bg-light"><i class='fas fa-recycle' style='font-size:20px'></i> Hygiene</a>
                <a asp-area="" asp-controller="Issues" asp-action="Index" class="list-group-item list-group-item-action bg-light"><i class='fas fa-exclamation-circle' style='font-size:20px'></i> Issues</a>
                <a asp-area="" asp-controller="Home" asp-action="Settings" class="list-group-item list-group-item-action bg-light"><i class="fas fa-cogs" style='font-size:20px'></i> Settings</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <a id="menu-toggle" onclick="updateToggleMenuIcon();"><i class="fas fa-arrow-left"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">TBD <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TBD</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                @await Html.PartialAsync("_LoginPartial")
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">TBD</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <breadcrumb></breadcrumb>

            <div class="container-fluid">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - HoustonDS</p>
                </footer>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script type="text/javascript">
        function updateToggleMenuIcon() {
            var leftButton = "<i class=\"fas fa-arrow-left\"></i>";
            var rightButton = "<i class=\"fas fa-arrow-right\"></i>";

            if (document.getElementById("menu-toggle").innerHTML == leftButton) {
                document.getElementById("menu-toggle").innerHTML = rightButton;
            }
            else {
                document.getElementById("menu-toggle").innerHTML = leftButton;
            }
        }
    </script>
</body>
</html>

<style>
    ol.breadcrumb {
        background-color: unset;
    }
</style>