@model APPartment.UI.ViewModels.Base.PostViewModel

@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<input type="hidden" class="form-control" id="userInput" value="@ViewData["Username"]" />
<div class="row">
    <div class="col-10">
        <textarea type="text" class="form-control" id="commentTextbox" rows="5" placeholder="Type a comment..."></textarea>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <button class="btn btn-primary btn-sm" id="commentButton"></button>
    </div>
</div>
<div class="row">
    <div class="col-md-10" id="comment-text-data">
        @if (Model.Comments.Any())
        {
            foreach (var comment in Model.Comments)
            {
                <hr style="opacity: 0.4;" />
                <p>@Html.Raw(comment)</p>
            }
        }
        else
        {
            <br />
            <span id="no-comments-added-message">
                No comments have been added to this object.
            </span>
        }
    </div>
</div>

<script src="~/js/comments.js"></script>

<script>
$("#commentButton").click(function () {
    var comment = $('#commentTextbox').val();

    if (comment && comment != "") {
        $.ajax({
            type: "POST",
            url: "@Url.Action("PostComment", controllerName)",
            data: { targetObjectID: @Model.ObjectID, comment: comment },
            success: function (data) {
                $("#no-comments-added-message").attr('style', 'display:none;');

                var appendValue = document.createElement('p');
                appendValue.innerHTML = "<hr />" + data;

                $("#comment-text-data").prepend(appendValue);

                document.getElementById("commentTextbox").value = "";
                $('#commentButton').prop('disabled', true);
                $('#commentButton').html('<i class="fas fa-comment-slash"></i> &nbsp; Comment');
            },
            error: function (req, status, error) {
                alert(error);
            }
        });
    }
});
</script>