@model APPartment.UI.ViewModels.Base.PostViewModel

@{
    var header = string.Format("ID: {0}, Name: {1}", Model.ID, Model.Name);
    var canManage = false;
    var isReadonly = false;

    if (ViewData["ReadOnly"] != null)
    {
        isReadonly = bool.Parse(ViewData["ReadOnly"].ToString());
    }

    if (ViewData["CanManage"] != null)
    {
        canManage = bool.Parse(ViewData["CanManage"].ToString());
    }
}

<div class="card">
    <div class="card-header">
        @header
    </div>
    <div class="card-body">
        @if (canManage)
        {
            <div>
                <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary btn-sm" style="font-size:small;"><i class="fas fa-edit"></i>&nbsp; Edit</a>
            </div>

            <br />
        }

        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            <div class="editor-field">
                @Html.Display(property.PropertyName)
            </div>
        }
    </div>
</div>

<br />

@if (!isReadonly)
{
    <div class="card">
        <div class="card-body">
            @await Html.PartialAsync("_ObjectMetadataTab", Model)
        </div>
    </div>
}