@model APPartment.UI.ViewModels.Base.PostViewModel

@{ 
    var action = "Create";

    if (Model.ID > 0)
    {
        action = "Edit";
    }
} 

<div class="card">
    <form asp-action="@action" enctype="multipart/form-data">
        <div class="card-header">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success btn-sm" style="font-size: small;" />
            </div>
        </div>
        <div class="card-body">
            @foreach (var row in Model.Properties.Select(x => x.Row).Distinct())
            {
                <div class="row">
                    @foreach (var property in Model.Properties.Where(x => x.Row == row))
                    {
                        <div class="col-md-@property.Col">
                            <div class="display-field">
                                @Html.Editor(ViewData.ModelMetadata.Properties.Where(x => x.PropertyName == property.Property.Name).FirstOrDefault().PropertyName)
                            </div>
                        </div>
                    }
                </div>
            }

            @foreach (var hiddenProperty in Model.HiddenProperties)
            {
                @Html.Hidden(ViewData.ModelMetadata.Properties.Where(x => x.PropertyName == hiddenProperty.Name).FirstOrDefault().PropertyName)
            }

        </div>
    </form>
</div>

<br />

@if (Model.ID > 0)
{
    <div class="card">
        <div class="card-body">
            @await Html.PartialAsync("_ObjectMetadataTab", Model)
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
