<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/vendor/jquery/jquery-ui.min.css" />

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/jquery/jquery-ui.min.js"></script>
    <script src="~/js/feather.min.js" crossorigin="anonymous"></script>

    <link rel="icon" href="~/images/test.png">
    <script src="~/js/faicons.min.js" crossorigin="anonymous"></script>

    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/layout.custom.css" rel="stylesheet" />

    <link href="~/css/dropzone.min.css" rel="stylesheet" />
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/fullcalendar.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link href="~/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/nav.clock.css" />

    @RenderSection("Scripts", required: false)
</head>
<body id="nav-fixed">
    <partial name="_Navigation" />
    <div id="layoutSidenav">
        <partial name="_Menu" />
        <div id="layoutSidenav_content">
            <main>
                <div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
                    <div class="container-fluid">
                        <partial name="_NavClock" />
                        <div class="page-header-content no-underline">
                            <breadcrumb></breadcrumb>
                        </div>
                    </div>
                </div>
                <div class="container-fluid mt-n15">
                    @RenderBody()
                </div>
            </main>
            <partial name="_Footer" />
        </div>
    </div>

    <partial name="_SetHomeStatus" />

    <script>
        var baseApplicationPath = '@Url.Content("~/")';
    </script>

    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/fullcalendar.js"></script>
    <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/dropzone.min.js"></script>
    <script src="~/js/bootbox.min.js"></script>
    <script src="~/js/layout.custom.js"></script>
    <script src="~/js/nav.clock.js"></script>
    <script src="~/js/notifications.js"></script>
    <script src="~/js/actions.js"></script>

    <script>
        GetNotificationsCount();
    </script>
</body>
</html>