@model List<SelectListItem>

@*@using System.Reflection;
@using System.ComponentModel.DataAnnotations;

@{
    var thePropertyAsMember = ViewData.ModelMetadata.ContainerType.GetMember(ViewData.ModelMetadata.PropertyName)[0];
    var requiredAttribute = thePropertyAsMember.GetCustomAttribute(typeof(RequiredAttribute)) as RequiredAttribute;
    var isRequired = requiredAttribute != null;
}

@if (isRequired)
{
    <span style="color: red;">*</span>
}*@

<div class="form-group">
    <select class="form-control" name="@ViewData.TemplateInfo.HtmlFieldPrefix">
        @foreach (var option in Model)
        {
            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
        }
    </select>
</div>