.dot-success {
    display: inline-block;
    border-radius: 50%;
    width: 50%;
    background-color: #449D44;
    height: 15px;
    width: 15px;
    margin: 0 2px;
}

.dot-warning {
    display: inline-block;
    border-radius: 50%;
    width: 50%;
    background-color: #F0AD4E;
    height: 15px;
    width: 15px;
    margin: 0 2px;
}

.dot-danger {
    display: inline-block;
    border-radius: 50%;
    width: 50%;
    background-color: #D9534F;
    height: 15px;
    width: 15px;
    margin: 0 2px;
}

.dot-sm {
    height: 10px;
    width: 10px;
}

.dot-lg {
    margin: 0 4px;
    height: 20px;
    width: 20px;
}