@model APPartment.Infrastructure.UI.Common.ViewModels.Home.HomePageDisplayModel

<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-4 text-center">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><a asp-area="Inventory" asp-controller="Inventory" asp-action="Index" class="no-underline"><i class='fas fa-tasks'></i> Inventory - latest updates</a></h6>
                <div style="margin-left: auto;"><a asp-area="Inventory" asp-controller="Inventory" asp-action="Create" class="no-underline"><i class="fas fa-plus"></i></a></div>
            </div>
            <div class="card-body">
                <p class="card-text">No items present.</p>
            </div>
            <div class="card-footer text-muted">
                <p>No updates...</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow mb-4 text-center">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><a asp-area="Issues" asp-controller="Issues" asp-action="Index" class="no-underline"><i class='fas fa-exclamation-circle'></i> Issues - latest updates</a></h6>
                <div style="margin-left: auto;"><a asp-area="Issues" asp-controller="Issues" asp-action="Create" class="no-underline"><i class="fas fa-plus"></i></a></div>
            </div>
            <div class="card-body">
                <p class="card-text">No issues present.</p>
            </div>
            <div class="card-footer text-muted">
                <p>No updates...</p>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><i class="far fa-comment-dots"></i> Chat with housemates</h6>
            </div>
            <div class="card-body">
                <div class="container">
                    <input type="hidden" class="form-control" id="userInput" value="@ViewData["Username"]" />
                    <div class="row">
                        <div class="col-12"><textarea type="text" class="form-control" id="messageInput" rows="5" placeholder="Type a message..."></textarea></div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-sm" id="sendButton" style="font-size: small;"><i class="fas fa-reply"></i> &nbsp; Send</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="messagesList">
                            @foreach (var message in Model.Messages)
                            {
                                <div>@Html.Raw(message)</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Rent due date</div>
                        <br />
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @if (!string.IsNullOrEmpty(Model.RentDueDate))
                            {
                                <h1 class="display-4">Rent due in @Model.RentDueDate</h1>
                            }
                            else
                            {
                                <h1 class="display-4">Rent due date not set!</h1>
                            }

                            <hr class="my-4">
                            <p>New rent due date? You can manage your home from <a href="@Url.Action("Settings", "Home")">Settings</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <div class="col-lg-6 mb-4" style="font-weight: bold;" id="home-status-card-div">
            <div class="card bg-success text-white shadow" id="homeStatusWidget">
                <div class="card-body" id="homeStatusWidgetBody">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<script src="~/js/home.index.js"></script>