<nav class="topnav navbar navbar-expand shadow navbar-light bg-white" id="sidenavAccordion">
    @if (string.IsNullOrEmpty(currentHomeName) == false)
    {
        <a class="navbar-brand d-none d-sm-block" href="/">@currentHomeName</a>
    }
    <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 mr-lg-2" id="sidebarToggle" href="#"><i data-feather="menu"></i></button>
    <form class="form-inline mr-auto d-none d-lg-block" role="search" action="/Home/Search/Search" autocomplete="off"><input class="form-control form-control-solid mr-md-2" type="search" name="keyWords" placeholder="Search for anything..." aria-label="Search" /></form>
    <ul class="navbar-nav align-items-center ml-auto">
        <li class="nav-item dropdown no-caret mr-3 dropdown-notifications">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownNotifications" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-bell"></i><span class="badge badge-sm badge-info badge-pill" id="notificationsCount"></span></a>
            <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" id="notifications-contents" aria-labelledby="navbarDropdownAlerts">
            </div>
        </li>
        <LoginPartial />
    </ul>
</nav>

@code {
    private string currentHomeName;

    protected override async Task OnInitializedAsync()
    {
        currentHomeName = await sessionStorage.GetItemAsync<string>("currentHomeName");
    }
}