
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>APPartment: Not Found</title>

    <link rel="icon" href="~/images/APPartment_logo_official_white_favicon.ico">
    <link href="~/css/styles.css" rel="stylesheet" />

    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <script src="~/js/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="error-page">
    <div id="layoutError">
        <div id="layoutError_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mt-5">
                                <div class="error mx-auto" data-text="404">404</div>
                                <p class="lead text-gray-800 mb-5">Page Not Found</p>
                                <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
                                <a asp-controller="Home" asp-action="Index">← Back to Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <partial name="_Footer" />
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>
</body>
</html>
